@import '../../../styles/settings.scss';

// .root {
// }
.form {
    font-size: 25px;
    font-family:cursive;

    input {
        height: 2rem;
        width: 50rem;
    }
}

.submitBtn {
    position: relative;
    display: block;
    width: 200px;
    height: 36px;
    margin-top: 2rem;
    border-radius: 18px;
    background-color: #1c89ff;
    border: solid 1px transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: all .1s ease-in-out;
    &:hover {
      background-color: black;
      border-color: #fff;
      transition: all .1s ease-in-out;
    }
    
  }